.gform_wrapper {
  width: 80% !important;
  margin: auto !important;
  max-width: 1200px !important;
}

.gform_wrapper a {
  color: #220022;
}

.gfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 3px 3px 8px -5px #000000;
          box-shadow: 3px 3px 8px -5px #000000;
  border: 0;
  padding: 20px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  margin: 16px 0;
}

.gfield legend {
  background: #220022;
  padding: 8px 16px;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 3px 3px 18px -5px #000000;
          box-shadow: 3px 3px 18px -5px #000000;
}

.gfield:hover {
  -webkit-box-shadow: 3px 3px 16px -5px #000000;
          box-shadow: 3px 3px 16px -5px #000000;
}

div.gfield:first-of-type,
.gsection,
.gfield_html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: purple;
  background: -webkit-gradient(linear, left top, left bottom, from(purple), to(#220022));
  background: linear-gradient(180deg, purple 0%, #220022 100%);
}

div.gfield:first-of-type div:first-child,
.gsection div:first-child,
.gfield_html div:first-child {
  max-width: 400px;
  padding-bottom: 16px !important;
  margin: auto;
}

div.gfield:first-of-type div:first-child div:nth-child(1),
div.gfield:first-of-type div:first-child div:nth-child(4),
.gsection div:first-child div:nth-child(1),
.gsection div:first-child div:nth-child(4),
.gfield_html div:first-child div:nth-child(1),
.gfield_html div:first-child div:nth-child(4) {
  display: none;
}

div.gfield:first-of-type span,
.gsection span,
.gfield_html span {
  color: white !important;
}

div.gfield:first-of-type img,
.gsection img,
.gfield_html img {
  border-radius: 16px;
  -webkit-box-shadow: 3px 3px 18px -5px #000000;
          box-shadow: 3px 3px 18px -5px #000000;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
  background: white;
}

div.gfield:first-of-type br,
.gsection br,
.gfield_html br {
  display: none;
}

div.gfield:first-of-type:hover,
.gsection:hover,
.gfield_html:hover {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

#field_6_93 div,
#field_6_92 div,
#field_6_43 div,
#field_6_48 div,
#field_6_56 div,
#field_6_62 div,
#field_6_71 div,
#field_6_80 div,
#field_6_86 div {
  width: 100%;
}

#field_6_93 div:first-child,
#field_6_92 div:first-child,
#field_6_43 div:first-child,
#field_6_48 div:first-child,
#field_6_56 div:first-child,
#field_6_62 div:first-child,
#field_6_71 div:first-child,
#field_6_80 div:first-child,
#field_6_86 div:first-child {
  padding-bottom: 16px !important;
  border: 0 !important;
  background-color: transparent !important;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#field_6_87 {
  background: #220022 !important;
  color: white !important;
}

#input_6_12_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#input_6_12_container span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
  margin: 0 4px;
}

#input_6_12_container span input {
  width: 100%;
}

.ginput_container input:not([type="radio"]):not([type="checkbox"]):-moz-read-write,
.ginput_container select {
  border-color: #757575;
  border-radius: 16px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #757575;
  width: 100%;
  max-width: 300px;
}

.ginput_container input:not([type="radio"]):not([type="checkbox"]):read-write,
.ginput_container select {
  border-color: #757575;
  border-radius: 16px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #757575;
  width: 100%;
  max-width: 300px;
}

.ginput_container input:not([type="radio"]):not([type="checkbox"]):-moz-read-write:hover,
.ginput_container select:hover {
  background: rgba(106, 0, 128, 0.1);
}

.ginput_container input:not([type="radio"]):not([type="checkbox"]):read-write:hover,
.ginput_container select:hover {
  background: rgba(106, 0, 128, 0.1);
}

.ginput_container input:not([type="radio"]):not([type="checkbox"]):-moz-read-write:focus,
.ginput_container select:focus {
  border-color: #220022;
  outline: none;
  background-color: rgba(106, 0, 128, 0.25);
  color: #220022;
}

.ginput_container input:not([type="radio"]):not([type="checkbox"]):read-write:focus,
.ginput_container select:focus {
  border-color: #220022;
  outline: none;
  background-color: rgba(106, 0, 128, 0.25);
  color: #220022;
}

.ginput_container select {
  cursor: pointer;
}

.ginput_container input[type="checkbox"],
.ginput_container input[type="radio"] {
  border-color: #757575;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
}

.ginput_container input[type="checkbox"]:hover,
.ginput_container input[type="radio"]:hover {
  background: rgba(106, 0, 128, 0.1);
}

.ginput_container input[type="checkbox"]:checked,
.ginput_container input[type="radio"]:checked {
  border-color: #220022;
  outline: none;
  background-color: rgba(106, 0, 128, 0.25);
  color: #220022;
}

.ginput_container input:-moz-read-only {
  border: none;
  background-color: #220022;
  color: white;
  outline: none;
  border-radius: 16px;
  font-weight: 600;
  width: 100%;
  max-width: 300px;
}

.ginput_container input:read-only {
  border: none;
  background-color: #220022;
  color: white;
  outline: none;
  border-radius: 16px;
  font-weight: 600;
  width: 100%;
  max-width: 300px;
}

.gfield_label {
  color: #220022;
  font-weight: 700;
}

.gfield_description {
  padding-bottom: 16px;
}

.gfield_checkbox > div,
.gchoice {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0 !important;
}

.gfield_checkbox > div label,
.gchoice label {
  margin: 0 !important;
  margin-left: 8px !important;
}

.gsection_title {
  color: white;
  font-weight: 600;
  padding: 0;
}

#input_6_29 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gform_next_button,
.gform_previous_button,
.gform_button {
  background: white !important;
  color: #220022 !important;
  border-radius: 16px !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  outline: none !important;
  margin: 4px;
}

.gform_next_button:hover,
.gform_previous_button:hover,
.gform_button:hover {
  color: white !important;
  background-color: #220022 !important;
  -webkit-box-shadow: 3px 3px 18px -5px #000000;
          box-shadow: 3px 3px 18px -5px #000000;
}

.gform_next_button:active,
.gform_previous_button:active,
.gform_button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
}

.gform_page_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 8px 0;
}

.gf_progressbar_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}

.gf_progressbar_wrapper .gf_progressbar_title {
  color: #212121;
}

.gf_progressbar_wrapper .gf_progressbar_title .gf_step_current_page,
.gf_progressbar_wrapper .gf_progressbar_title .gf_step_page_count {
  color: purple;
}

.gf_progressbar_wrapper .gf_progressbar {
  color: purple;
}

.gform_submission_error {
  background-color: darkred;
  color: white;
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
  font-size: 4vw;
}

.gform_title {
  font-weight: bolder;
  color: purple;
  padding: 16px 0;
  margin: 0;
  border-radius: 16px;
  text-decoration: underline;
}

#field_6_94 {
  background: #220022 !important;
}
/*# sourceMappingURL=hatemyfat.com.css.map */