$primary_dark: rgb(34, 0, 34);
$primary_light: rgb(128, 0, 128);

.gform_wrapper {
  width: 80% !important;
  margin: auto !important;
  max-width: 1200px !important;

  a {
    color: rgba(34, 0, 34, 1);
  }
}

.gfield {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 3px 3px 8px -5px #000000;

  border: 0;
  padding: 20px;
  transition: box-shadow 0.25s;

  margin: 16px 0;

  legend {
    background: rgba(34, 0, 34, 1);
    padding: 8px 16px;
    border-radius: 10px;
    color: white;
    box-shadow: 3px 3px 18px -5px #000000;
  }

  &:hover {
    box-shadow: 3px 3px 16px -5px #000000;
  }
}

div.gfield:first-of-type,
.gsection,
.gfield_html {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(128, 0, 128);
  background: linear-gradient(
    180deg,
    rgba(128, 0, 128, 1) 0%,
    rgba(34, 0, 34, 1) 100%
  );

  div:first-child {
    div:nth-child(1),
    div:nth-child(4) {
      display: none;
    }

    max-width: 400px;
    padding-bottom: 16px !important;
    margin: auto;
  }

  span {
    color: white !important;
  }

  img {
    border-radius: 16px;
    box-shadow: 3px 3px 18px -5px #000000;

    width: 100%;
    max-width: 500px;
    height: auto;

    margin: auto;
    background: white;
  }

  br {
    display: none;
  }

  &:hover {
    box-shadow: unset !important;
  }
}

#field_6_93,
#field_6_92,
#field_6_43,
#field_6_48,
#field_6_56,
#field_6_62,
#field_6_71,
#field_6_80,
#field_6_86 {
  div {
    width: 100%;
  }

  div:first-child {
    padding-bottom: 16px !important;
    border: 0 !important;
    background-color: transparent !important;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }
}

#field_6_87 {
  background: $primary_dark !important;
  color: white !important;
}

#input_6_12_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    flex: 1;
    min-width: 200px;
    margin: 0 4px;
    input {
      width: 100%;
    }
  }
}

.ginput_container {
  input:not([type="radio"]):not([type="checkbox"]):read-write,
  select {
    border-color: #757575;
    border-radius: 16px;
    font-weight: 600;
    transition: all 0.5s;
    color: #757575;
    width: 100%;
    max-width: 300px;

    &:hover {
      background: rgba(106, 0, 128, 0.1);
    }

    &:focus {
      border-color: rgba(34, 0, 34, 1);
      outline: none;
      background-color: rgba(106, 0, 128, 0.25);
      color: rgba(34, 0, 34, 1);
    }
  }

  select {
    cursor: pointer;
  }

  input[type="checkbox"],
  input[type="radio"] {
    border-color: #757575;
    transition: all 0.5s;
    outline: none;

    &:hover {
      background: rgba(106, 0, 128, 0.1);
    }

    &:checked {
      border-color: rgba(34, 0, 34, 1);
      outline: none;
      background-color: rgba(106, 0, 128, 0.25);
      color: rgba(34, 0, 34, 1);
    }
  }

  input:read-only {
    border: none;
    background-color: rgba(34, 0, 34, 1);
    color: white;
    outline: none;
    border-radius: 16px;
    font-weight: 600;
    width: 100%;
    max-width: 300px;
  }
}

.gfield_label {
  color: rgba(34, 0, 34, 1);
  font-weight: 700;
}

.gfield_description {
  padding-bottom: 16px;
}

.gfield_checkbox > div,
.gchoice {
  cursor: pointer;

  display: flex;
  align-items: center;
  margin: 8px 0 !important;
  label {
    margin: 0 !important;
    margin-left: 8px !important;
  }
}

.gsection_title {
  color: white;
  font-weight: 600;
  padding: 0;
}

#input_6_29 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gform_next_button,
.gform_previous_button,
.gform_button {
  background: white !important;
  color: $primary_dark !important;
  border-radius: 16px !important;
  transition: all 0.5s !important;
  outline: none !important;
  margin: 4px;

  &:hover {
    color: white !important;
    background-color: $primary_dark !important;
    box-shadow: 3px 3px 18px -5px #000000;
  }

  &:active {
    transform: scale(0.9);
    box-shadow: none;
    outline: none !important;
  }
}

.gform_page_footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8px 0;
}

.gf_progressbar_wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  .gf_progressbar_title {
    color: #212121;

    .gf_step_current_page,
    .gf_step_page_count {
      color: $primary_light;
    }
  }

  .gf_progressbar {
    color: $primary_light;
  }
}

.gform_submission_error {
  background-color: darkred;
  color: white;
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
  font-size: 4vw;
}

.gform_title {
  font-weight: bolder;
  color: $primary_light;
  padding: 16px 0;
  margin: 0;
  border-radius: 16px;
  text-decoration: underline;
}

#field_6_94 {
    background: $primary_dark !important;
}